<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Affiliate Email Verification</title>
  </head>
  <body>
    <p>Hi {{recipient.name}},</p>
    <p>Please click the link below to confirm your email address and finish setting up your account. This link is valid for 48 hours.</p>
    <p><a href="{{data.confirmLink}}" target="_blank">Confirm</a></p>
  </body>
</html>